.nameHolder  {
    display: inline-block;
    text-align: start;
    width: 150px;
}


input, button{
    font-size: 24px;
}

.toggleEditBtn {
    margin-top: 14px;
}

input[type="text"]{
    display: inline-block;
    width:80%;
}

input[type="text"]:disabled {
    background-color: #9ead9c;
    
}